.cart-btn {
    display: flex;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    width: auto; 
    background-color: transparent;
    border-color: transparent;
    margin-right: 20px;
    margin-top: 3px;
    height: auto;
}
.cart {
    width: 24px; 
    margin-right: 10px; 
}
.num {
    background: linear-gradient(to right, hsl(105, 50%, 45%), hsl(62, 80%, 60%), hsl(322, 90%, 40%));
    border-radius: 50%;
    height: 20px; 
    width: 20px; 
    color: #fff;
    font-size: 12px; 
    text-align: center;
    line-height: 20px; 
    margin-top: -5px;
    margin-left: -5px;
}

