.totalCartContainer{
    display: flex;
    flex-direction: column;
}
.cartText{
    display: flex;
    margin-top: 6rem;
    padding: 1rem;
    justify-content: center;
    height: auto;
}
.cartText h2{
    font-weight: bold;
}
.cartContainer{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}
.cartItem{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
}
.cardImageContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardImage{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.cartContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2rem;
}
.cartActions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 5px;
    height: auto;
}
.buttonContanier{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 5rem;
    height: 2rem;
}
.cartButttonAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.cartButttonDecrease{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.containerCartButtonRemove{
    display: flex;
}
.cartButttonRemove{
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-color: #000;
    border: solid 1px #000;
    transition: all 0.3s ease-in-out;
}
.cartButttonRemove:hover{
    background-color: #000;
    color: #fff;
}
.cartTotal{
    font-size: 1.5rem;
    font-weight: bold;
}
.cartDetailActions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
    max-width: 500px;
    height: auto;
    padding-top: 1rem;
}
.cartButttonCheckout {
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-color: #000;
    border: solid 1px #000;
    transition: all 0.3s ease-in-out;
    margin-left: 1rem;
    height: auto;
}
.cartButttonCheckout:hover {
    background-color: #000;
    color: #ffffff;
}

@media(max-width: 768px){
    .cartItem{
        flex-direction: column;
    }
}