.counterContainer {
    display: flex;
    justify-content: center;
    border: 1px solid #bbb;
    width: 100px;
    padding: 5px;
    height: auto;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 2rem;
}
.counterButton {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 2rem;
    height: 2rem; 
    border: none;
    color: #000; 
    font-weight: bold; 
    cursor: pointer; 
}
.counterButton:hover {
    background-color: #aaa; /* Cambia el color de fondo al pasar el mouse */
}
.counterText{
    font-size: 1.5rem;
    padding: 0px 3px;
}