.cardContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 15px;
}



