.checkoutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 4rem;
}
.checkoutForm{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.checkoutTitle{
    height: auto;
}
.checkoutFormContainer{
    padding: 1rem 0;
    height: auto;
}
.checkoutFormInputGroup{
    padding: 1rem 0;
    height: auto;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.butttonCheckout{
    border: none;
    background-color: #000;
    color: #ffffff;
    padding: 0.5rem 1rem;
    height: auto;
}
.butttonCheckout:hover {
    background-color: #000;
}

.butttonCheckout:disabled {
    background-color: #464646;
    color: #ffffff;
    cursor: not-allowed;
}
.cartCheckoutContainer{
    width: 50%;
}

@media(max-width: 768px){
    .checkoutForm{
        width: 100%;
        max-width: 100%;
    }
    .checkoutContainer{
        flex-direction: column;
    }
}