/*Estilos Genericos*/
*{
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #fff;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}
.main-container{
  display: flex;
  flex-direction: column;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.coversContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
  top: 0;
}
.imagesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}
.imagesCard{
  margin: 3px;
  height: auto;
}
.inputContainer{
  display: flex;
  flex-direction: row;
  margin-right: auto;
  padding-top: 5px;
}
