/*Estilos Genericos*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: -webkit-fill-available;
}

body{
  background-color: #fff;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}


