.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 99;
    transition: background-color 0.7s ease;
}
.header-colored{
    background-color: #000;
    z-index: 1000;
}
.header-transparent {
    color: black;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 30px 30px;
    position: sticky;
    z-index: 999;
}
.hamb-line{
    background-color: #fff;
    display: block;
    height: 2px;
    position: relative;
    width: 25px;
}
.hamb-line::before,
.hamb-line::after{
    background-color: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-in-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.nav{
    width: 100%;
    position: relative;
    background-color: #000;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-in-out;
}
.menu a{
    display: block;
    padding: 25px;
    color:#fff;
    transition: all 0.3s ease-in-out;
}
.menu a:hover {
    background-color: #fff;
    color: #000;
}
.menu ul {
    width: 100%;
}

.menu li {
    margin-right: 10px;
    margin-left: 0px;
    display: block; /* Asegura que los elementos li se muestren como bloques */
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}
.logo{
    max-width: 100%;
    width: 15%;
    margin-left: 4px;
}
.image-logo{
    width: 100%;
}
.menu li{
    margin-right: 10px;
    margin-left: 0px;
}

@media(min-width: 769px){
    .header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 9999;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo{
        display: inline-block;
        flex-direction: column;
        width: 80px;
        height: auto;
        margin-right: 20px;
        margin-left: 4px;
        position: relative;
        z-index: 9999;
    }
    .image-logo{
        width: 100%;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        position: absolute;
        max-height: none;
        top: 0;
        float: left;
        background-color: transparent;   
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .menu li{
        margin-right: 10px;
        margin-left: 0px;
    }
    .menu ul{
        flex-direction: row;
        justify-content: space-between;
    }
    .menu ul:last-child {
        margin-left: auto;
    }  
    .menu a:hover{
        background-color: transparent;
        color: #fff;
    }
    .hamb{
        display: none;
    }
}